{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="h2 pb-4">Categories</h1>
        <ul class="list-unstyled templatemo-accordion">
          <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
              Categories
              <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
              {% for category in categories.all %}
              <li>
                <a class="text-decoration-none" href="{% url 'shopByCategory' category.id %}">{{category.name}}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
              Brand
              <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul id="collapseThree" class="collapse list-unstyled pl-3">
              {% for brand in all_brands.all %}
              <li>
                <a class="text-decoration-none" href="{% url 'shopByBrand' brand.id %}">{{brand.name}}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-lg-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-inline shop-top-menu pb-3 pt-1">
              <li class="list-inline-item">
                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'shop'%}">All</a>
              </li>
              <li class="list-inline-item">
                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'shopByGender' 'M' %}">Men's</a>
              </li>
              <li class="list-inline-item">
                <a class="h3 text-dark text-decoration-none" href="{% url 'shopByGender' 'F' %}">Women's</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          {% for cloth in clothes %}
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img class="card-img rounded-0 img-fluid" src="{{ cloth.mainImage.url }}" />
                  <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled">
                      <li>
                        <a class="btn btn-success text-white" href="{% url 'productDetail' cloth.id %}"><i class="far fa-heart"></i></a>
                      </li>
                      <li>
                        <a class="btn btn-success text-white mt-2" href="{% url 'productDetail' cloth.id %}"><i class="far fa-eye"></i></a>
                      </li>
                      <li>
                        <a class="btn btn-success text-white mt-2" href="{% url 'productDetail' cloth.id %}"><i class="fas fa-cart-plus"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <a href="{% url 'productDetail' 1 %}" class="h3 text-decoration-none">{{ cloth.name }}</a>
                  <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                    <li>{{ cloth.sizes.all|join:'/' }}</li>
                    <li class="pt-2">
                      <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                      <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                      <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                      <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                      <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                    </li>
                  </ul>
                  <ul class="list-unstyled d-flex justify-content-center mb-1">
                    <li>
                      {% for i in "12345" %}
                        {% if forloop.counter0 < cloth.rating_rounded %}
                          <i class="text-warning fa fa-star"></i>
                        {% else %}
                          <i class="text-muted fa fa-star"></i>
                        {% endif %}
                      {% endfor %}
                    </li>
                  </ul>
                  <p class="text-center mb-0">${{ cloth.price }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- End Content -->
  {% include 'brandCarousel.html' %}
{% endblock %}
